@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
header {
    background-color: snow;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px ;
}
.mainpage {
    text-decoration: none;
    color: 	#00b39b;
    font-weight: 800;
    font-size: 1.5em;
}
.navigation a{
    text-decoration: none;
    color: #ababab;
    font-size: 1.1em;
    font-weight: 500;
    padding-left :10px;
}
.navigation a:hover{
    color: #00b39b;
}
section {
    padding: 100px 200px
}
.main img{
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto;
    box-sizing: inherit;
}
.main h1{
    text-align: center;
    letter-spacing: 0.5px;
    color: #00b39b;
    font-size: 2.5em;
    font-weight: 400;
    margin-top: 40px;
    margin-bottom: 40px;
}
.paragraphs {
    margin: 0 10px;
    box-sizing: inherit;
    display: flex
}
.parag1 {
    color: #747474;
    width: 50%;
    float: left;
    min-height: 1px;                                                    
    padding: 10px
}
